@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html
{
    font-size: 62.5%;
}
h1,h2
{
    font-family: "Roboto", "sans-serif";
}
h1
{
    font-size: 5rem;
}
h2,h3
{
    font-size: 3rem;
}
.Tamaniotexto
{
    font-size: 1.5rem;
}
p
{
    font-family: "Inconsolata", "monospace";
    font-size: 1.5rem;
    font-weight: 600;
    font-style: italic;
}
body
{
    background-color: #44B7E3;
}
a
{
    color: #000000;
}
.colortitulo
{
    color: rgb(246, 212, 247);
}